{% macro tabs(selected='summary') %}
<ul class="govuk-tabs__list">
  <li class="govuk-tabs__list-item  {% if selected === 'summary' %}govuk-tabs__list-item--selected{% endif %}">
    <a class="govuk-tabs__tab" href="/">Summary</a>
  </li>
  <li class="govuk-tabs__list-item {% if selected === 'area' %}govuk-tabs__list-item--selected{% endif %}">
    <a class="govuk-tabs__tab" href="/area">Area view</a>
  </li>
  <li class="govuk-tabs__list-item {% if selected === 'severity-view' %}govuk-tabs__list-item--selected{% endif %}">
    <a class="govuk-tabs__tab" href="/severity-view">Severity view</a>
  </li>
  <li class="govuk-tabs__list-item {% if selected === 'target-area' %}govuk-tabs__list-item--selected{% endif %}">
    <a class="govuk-tabs__tab" href="/target-area">Search</a>
  </li>
</ul>
{% endmacro %}

