{% macro tabs(selected='summary') %}
<ul class="govuk-tabs__list">
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab {% if selected === 'summary' %}govuk-tabs__tab--selected{% endif %}" href="/">Summary</a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab {% if selected === 'area' %}govuk-tabs__tab--selected{% endif %}" href="/area">Area View</a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab {% if selected === 'target-area' %}govuk-tabs__tab--selected{% endif %}" href="/target-area">Search</a>
  </li>
</ul>
{% endmacro %}

