{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "chrome": "73",
          "ie": "11"
        },
        "debug": true
      }
    ]
  ],
  "plugins": [
    ["@babel/transform-runtime"]
  ]
}