{% from "date-input/macro.njk" import govukDateInput %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-inset-text">
    This information was last updated: <time id="update-time">{{updateTime}}</time>
  </div>


{% set summaryReportHtml %}
  <h2 class="govuk-heading-l">Summary</h2>
  {{ govukTable(summaryTable) }}
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Summary report",
      id: "summary-report",
      panel: {
        html: summaryReportHtml
      }
    }
  ]
}) }}
{% endblock %}

