// **** Panels ****
.govuk-width-container {
  max-width: 1280px;
}

.flooding-icons {
  width: 50px;
  padding-right: 15px;
  margin-bottom: -10px;
  border-right: 1px solid #bfc1c3;
  margin-right: 15px;
}

// .govuk-inset-text.flood {`
//   border-left: 5px solid #28a197;
//   clear: none;
//   margin-left: 70px;
// }

.govuk-button.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.govuk-button.right {
  display: block;
  text-align: center;
  margin-left: auto;
  position: relative;
}

// **********************

.govuk-panel__title {
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  @include govuk-font($size: 36, $weight: bold);
}

.govuk-panel {
  padding: 15px !important;
  cursor: pointer;
}

.flood-image {
  float: left;
  width: 85px;
  margin-top: 2px;
  margin-left: 15px;
  border-right: 2px solid white;
  padding-right: 30px;
}

.flood-image2 {
  position: relative;
  float: left;
  height: 50px;
  clear: none;
}

.govuk-panel__body {
  font-size: 1.5rem !important;
}
.last .govuk-table__cell {
  border-bottom: none;
  padding-bottom: 1.4em;
}

.noborder {
  border-bottom: none;
  border-top: none;
}
.noborder.half {
  width: 50%;
}

.govuk-table__cell {
  vertical-align: middle
}

.govuk-table__cell a {
  text-decoration: none;
}

.govuk-table__cell.center,
.govuk-table__header.center {
  text-align: center;
}

.govuk-table {
  font-size: 0.96em;
}

.govuk-select.custom {
  border-radius: 0 !important;
  border-top-left-radius: 0px !important;
  width: 100%;
}

.govuk-table__header:last-child,
.govuk-table__cell:last-child {
  padding-right: 10px;
}

.govuk-table__header,
.govuk-table__cell {
  padding: 10px 10px;
}

.govuk-table__row {
  height: 100px;
  line-height: 1.6em;
}

.govuk-table__row.bg {
  height: 50px;
  font-size: 1.1em;
}

.govuk-table__cell {
  padding: 10px;
}

.govuk-template {
  background-color: white;
}

.govuk-template__body.internal.js-enabled {
  margin: 0;
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

.internal {
  .govuk-header {
    color: #454a4c;
    background: #ffffff;
    border-bottom: 3px solid #029e42;
    padding-bottom: 15px;
  }
  .govuk-header-blue {
    background:	#aed4f5;
  }

  .govuk-header__link:link,
  .govuk-header__link:visited {
    color: #000;
  }

  .govuk-header__container {
    border-bottom: none;
  }

  .govuk-footer {
    border-top: 2px solid #029e42;
    color: #454a4c;
    background: #ffffff;
  }
  .govuk-footer-blue {
    background:	#aed4f5;
  }

  .govuk-footer__copyright-logo {
    background-image: none;
    display: none;
  }

  .govuk-tabs__panel {
    background: #ffffff;
  }

  .govuk-inset-text {
    border-left: 10px solid #029e42;
  }

  .divider {
    color: #029e42;
    font-weight: bold;
  }

  .govuk-tabs__tab {
    background-color: inherit;
  }

  .govuk-tabs__tab--selected {
    background-color: white;
  }

  .govuk-tabs__tab--selected:focus {
    background-color: white;
  }

  .govuk-header__logotype-text {
    display: none;
  }
}

// *** header ***
.login-section {
  float: right;
  display: block;
  position: relative;
  width: 300px;
  height: 60px;
  clear: none;
  text-align: right;
  line-height: 60px;
}

.ea-logo {
  background-image: url("../images/ealogo.png");
  width: 200px;
  height: 60px;
  background-size: contain;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
}


// Page specific CSS styles

// Target area page
.historic-warnings.collapsed {
  tbody {
    tr:nth-child(n+7) {
     display: none;
    }
  }
}

#toggle {
  background: none;
  border: none;
  padding: 0;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
