@import "node_modules/govuk-frontend/dist/govuk/settings/index";
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Remove template background colour, as is used with the GOV.UK Footer.
$govuk-template-background-colour: $govuk-body-background-colour;

@import "node_modules/govuk-frontend/dist/govuk/index";

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/docs/examples/blank-unbranded

@import "custom.scss";
