{% extends 'layout.html' %}

{% block body %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Page not found</h1>
    <p class="govuk-body">The page you are looking for is not available. If FWIS is available and it is just a single page
      <br>
      that is missing, please contact <a
        href="mailto:floodwarningservices@environment-agency.gov.uk">floodwarningservices@environment-agency.gov.uk</a>
    </p>
    <br>
    <p class="govuk-body">Please note that this email account is monitored in office hours only.</p>
    <br>
    <p class="govuk-body">If FWIS isn't available and you see this error on every page, please phone the Defra IT
      <br>
      service desk on.
      <br>
      <strong class="govuk-!-font-weight-bold">8080 </strong>(internal) or <strong class="govuk-!-font-weight-bold">0800 014 8255 </strong>(external)
      <br>
      and select option 9 to report a flood critical fault
    </p>
  </div>
</div>
{% endblock %}
