{% extends 'layout.njk' %}

{% from "date-input/macro.njk" import govukDateInput %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-body">
    <h1>{{title}}</h1>

    <div id="data-table">
      <p>Last updated: <time>{{updateTime}}</time></p>
      {{ govukTable(summaryTable)}}
    </div>

  </div> 
  <script src="{{ assetPath }}/scripts/templates.js"></script>
  <script src="{{ assetPath }}/scripts/home.js"></script>
{% endblock %}

