{% extends 'layout.njk' %}

{% from "date-input/macro.njk" import govukDateInput %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-body">
    <h1>{{title}}</h1>



{% set summaryReportHtml %}
  <h2 class="govuk-heading-l">Summary</h2>
  {{ govukTable(summaryTable) }}
{% endset -%}

{% set areaReportHtml %}
  <h2 class="govuk-heading-l">Areas</h2>
  {{ govukTable() }}
{% endset -%}



{{ govukTabs({
  items: [
    {
      label: "Summary report",
      id: "summary-report",
      panel: {
        html: summaryReportHtml
      }
    },
    {
      label: "Area report",
      id: "area-report",
      panel: {
        html: areaReportHtml
      }
    }
  ]
}) }}

  </div>
{% endblock %}