{% extends "template.njk" %}

{% from "date-input/macro.njk" import govukDateInput %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}
{% from "button/macro.njk" import govukButton %}

{% set bodyClasses = "internal" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ assetPath }}/images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ assetPath }}/images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}/images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}/images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}/images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ assetPath }}/images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="{{ assetPath }}/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <div class="ea-logo"></div>
      </a>
    </div>
    <span class="login-section">
      <span class="devider">|</span> <a href="#">Login</a>
    </span>
  </div>
</header>
{% endblock %}

{% block content %}
  <h1>Flood Digital Management Console</h1>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{ assetPath }}/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}