{% extends "govuk/template.njk" %}

{% set bodyClasses = "internal" %}

{% block pageTitle %}
  {{pageTitle}}
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ assetPath }}/images/icons/favicon.ico?0.18.3" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ assetPath }}/images/icons/apple-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ assetPath }}/images/icons/apple-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ assetPath }}/images/icons/apple-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ assetPath }}/images/icons/apple-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="{{ assetPath }}/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">

{% if analyticsAccount %}
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ analyticsAccount }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{  analyticsAccount  }}');
</script> 

{% endif %}


{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <div class="ea-logo"></div>
      </a>
    </div>
    <span class="login-section">
      {% if auth.isAuthenticated %}
      <span>
        <b title="{{auth.credentials.profile.email}}">{{auth.credentials.profile.displayName}}</b>
        <span class="divider">|</span>
        <a href="/logout">Logout</a>
        <!--  -->
      </span>
      <span></span>
      {% else %}
      <a href="/login?redirectTo={{meta.redirectTo}}">Login</a>
      {% endif %}
    </span>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Flood Warning Information System</h1>
  {% block body %}{% endblock %}

  {% if not hideRefresh %}
  <div>
    <a href="{{meta.url}}" class="govuk-button">Refresh</a>
  </div>
  {% endif %}
  <div>For help and information please contact: <a href="mailto:floodwarningservices@environment-agency.gov.uk">floodwarningservices@environment-agency.gov.uk</a></div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}

{% endblock %}