# FWS app config
# need to script the automation of picking up the localstack url
# When using localstack the api url is in the format:
# http://localstack-main:4566/restapis/{api id}/local/_user_request_
# use ./update-localstack-url.sh to update this value
FWS_API_URL=http://dummy.url
# if using localstack the authorizer function isn't supported so only needs a dummy key, if using dev will need a real key
FWS_API_KEY=DUMMY_VALUE
# These are secrets that need populating before starting the app
# obtain from secret manager or another developer
AD_CLIENT_ID=DUMMY_VALUE
AD_CLIENT_SECRET=DUMMY_VALUE
AD_TENANT=http://dummy.url
AD_COOKIE_PASSWORD=cookie_encryption_password_secure
LOG_LEVEL=info
pm_cwd=
HOME_PAGE=http://localhost:3000
LOCAL_CACHE=false
# REDIS_HOST needs to be fws-app-redis for when running in docker-compose, localhost for unit tests
REDIS_HOST=localhost
REDIS_PORT=6379
