name: CI

on: [push, pull_request]
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                fetch-depth: 0

            - name: Install nodejs
              uses: actions/setup-node@v3
              with:
                node-version: "18.x"
            
            - name: Install node dependencies
              run: npm ci

            - name: Run linting and unit tests
              env:
                AD_CLIENT_ID: "${{ secrets.AD_CLIENT_ID }}"
                AD_CLIENT_SECRET: "${{ secrets.AD_CLIENT_SECRET }}"
                AD_COOKIE_PASSWORD: "${{ secrets.AD_COOKIE_PASSWORD }}"
                AD_TENANT: "${{ secrets.AD_TENANT }}"
                FORCE_HTTPS: "${{ secrets.FORCE_HTTPS }}"
                FWS_API: "${{ secrets.FWS_API }}"
                FWS_API_KEY: "${{ secrets.FWS_API_KEY }}"
                FWS_API_URL: "${{ secrets.FWS_API_URL }}"
                FWS_APP_PROXY: "${{ secrets.FWS_APP_PROXY }}"
              run: |
                npm run test

            - name: Analyse code quality
              uses: sonarsource/sonarqube-scan-action@5.3.0
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                args: >
                  -Dsonar.organization=defra
                  -Dsonar.projectKey=DEFRA_fws-app
                  -Dsonar.exclusions=**/node_modules/**,**/test/**,**/test-output/**,**/service-down/**
                  -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
                  -Dsonar.javascript.exclusions=**/node_modules/**,**/test/**,**/test-output/**,**/mock/**,**/public/**
